Repository tedilabs/terraform-aws-vpc-connectivity, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: dx-connection, :floppy_disk: dx-gateway, :floppy_disk: dx-private-virtual-interface, :floppy_disk: lattice-alb-target-group, :floppy_disk: lattice-instance-target-group, :floppy_disk: lattice-ip-target-group, :floppy_disk: lattice-lambda-target-group, :floppy_disk: lattice-service-listener, :floppy_disk: lattice-service-network, :floppy_disk: lattice-service, :floppy_disk: lattice-shared-service-network, :floppy_disk: lattice-shared-service, :floppy_disk: reachability-analyzer-path, :floppy_disk: vpc-endpoint-service, :floppy_disk: vpc-gateway-endpoint, :floppy_disk: vpc-interface-endpoint, :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

.github/labeler.yaml:

# Modules
":floppy_disk: dx-connection":
- modules/dx-connection/**/*

":floppy_disk: dx-gateway":
- modules/dx-gateway/**/*

":floppy_disk: dx-private-virtual-interface":
- modules/dx-private-virtual-interface/**/*

":floppy_disk: lattice-alb-target-group":
- modules/lattice-alb-target-group/**/*

":floppy_disk: lattice-instance-target-group":
- modules/lattice-instance-target-group/**/*

":floppy_disk: lattice-ip-target-group":
- modules/lattice-ip-target-group/**/*

":floppy_disk: lattice-lambda-target-group":
- modules/lattice-lambda-target-group/**/*

":floppy_disk: lattice-service-listener":
- modules/lattice-service-listener/**/*

":floppy_disk: lattice-service-network":
- modules/lattice-service-network/**/*

":floppy_disk: lattice-service":
- modules/lattice-service/**/*

":floppy_disk: lattice-shared-service-network":
- modules/lattice-shared-service-network/**/*

":floppy_disk: lattice-shared-service":
- modules/lattice-shared-service/**/*

":floppy_disk: reachability-analyzer-path":
- modules/reachability-analyzer-path/**/*

":floppy_disk: vpc-endpoint-service":
- modules/vpc-endpoint-service/**/*

":floppy_disk: vpc-gateway-endpoint":
- modules/vpc-gateway-endpoint/**/*

":floppy_disk: vpc-interface-endpoint":
- modules/vpc-interface-endpoint/**/*

":floppy_disk: vpc-peering":
- modules/vpc-peering/**/*

":floppy_disk: vpc-peering-accepter":
- modules/vpc-peering-accepter/**/*

":floppy_disk: vpc-peering-requester":
- modules/vpc-peering-requester/**/*

Update terraform version to v1.5
  .pre-commit-config.yaml
  examples/reachability-analyzer/versions.tf
  modules/dx-connection/README.md
  modules/dx-connection/versions.tf
  modules/dx-gateway/README.md
  modules/dx-gateway/versions.tf
  modules/dx-private-virtual-interface/README.md
  modules/dx-private-virtual-interface/versions.tf
  modules/reachability-analyzer-path/README.md
  modules/reachability-analyzer-path/versions.tf
  modules/vpc-endpoint-service/README.md
  modules/vpc-endpoint-service/versions.tf
  modules/vpc-gateway-endpoint/README.md
  modules/vpc-gateway-endpoint/versions.tf
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/versions.tf
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/versions.tf
  modules/vpc-peering-requester/README.md
  modules/vpc-peering-requester/versions.tf
  modules/vpc-peering/README.md
  modules/vpc-peering/versions.tf
Labels: :floppy_disk: dx-connection, :floppy_disk: dx-gateway, :floppy_disk: dx-private-virtual-interface, :floppy_disk: reachability-analyzer-path, :floppy_disk: vpc-endpoint-service, :floppy_disk: vpc-gateway-endpoint, :floppy_disk: vpc-interface-endpoint, :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Update terraform version to v1.5 (#16)
  .pre-commit-config.yaml
  examples/reachability-analyzer/versions.tf
  modules/dx-connection/README.md
  modules/dx-connection/versions.tf
  modules/dx-gateway/README.md
  modules/dx-gateway/versions.tf
  modules/dx-private-virtual-interface/README.md
  modules/dx-private-virtual-interface/versions.tf
  modules/reachability-analyzer-path/README.md
  modules/reachability-analyzer-path/versions.tf
  modules/vpc-endpoint-service/README.md
  modules/vpc-endpoint-service/versions.tf
  modules/vpc-gateway-endpoint/README.md
  modules/vpc-gateway-endpoint/versions.tf
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/versions.tf
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/versions.tf
  modules/vpc-peering-requester/README.md
  modules/vpc-peering-requester/versions.tf
  modules/vpc-peering/README.md
  modules/vpc-peering/versions.tf
Labels: :floppy_disk: dx-connection, :floppy_disk: dx-gateway, :floppy_disk: dx-private-virtual-interface, :floppy_disk: reachability-analyzer-path, :floppy_disk: vpc-endpoint-service, :floppy_disk: vpc-gateway-endpoint, :floppy_disk: vpc-interface-endpoint, :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Support lambda_event_structure_version for lattice-lambda-target-group
  examples/lattice-lambda-target-group/main.tf
  modules/lattice-alb-target-group/README.md
  modules/lattice-alb-target-group/main.tf
  modules/lattice-alb-target-group/versions.tf
  modules/lattice-instance-target-group/README.md
  modules/lattice-instance-target-group/main.tf
  modules/lattice-instance-target-group/versions.tf
  modules/lattice-ip-target-group/README.md
  modules/lattice-ip-target-group/main.tf
  modules/lattice-ip-target-group/versions.tf
  modules/lattice-lambda-target-group/README.md
  modules/lattice-lambda-target-group/main.tf
  modules/lattice-lambda-target-group/outputs.tf
  modules/lattice-lambda-target-group/variables.tf
  modules/lattice-lambda-target-group/versions.tf
  modules/lattice-service-listener/README.md
  modules/lattice-service-listener/versions.tf
  modules/lattice-service-network/README.md
  modules/lattice-service-network/versions.tf
  modules/lattice-service/README.md
  modules/lattice-service/versions.tf
  modules/lattice-shared-service-network/README.md
  modules/lattice-shared-service-network/versions.tf
  modules/lattice-shared-service/README.md
  modules/lattice-shared-service/versions.tf
Labels: :floppy_disk: lattice-alb-target-group, :floppy_disk: lattice-instance-target-group, :floppy_disk: lattice-ip-target-group, :floppy_disk: lattice-lambda-target-group, :floppy_disk: lattice-service-listener, :floppy_disk: lattice-service-network, :floppy_disk: lattice-service, :floppy_disk: lattice-shared-service-network, :floppy_disk: lattice-shared-service

Support lambda_event_structure_version for lattice-lambda-target-group (#17)
  examples/lattice-lambda-target-group/main.tf
  modules/lattice-alb-target-group/README.md
  modules/lattice-alb-target-group/main.tf
  modules/lattice-alb-target-group/versions.tf
  modules/lattice-instance-target-group/README.md
  modules/lattice-instance-target-group/main.tf
  modules/lattice-instance-target-group/versions.tf
  modules/lattice-ip-target-group/README.md
  modules/lattice-ip-target-group/main.tf
  modules/lattice-ip-target-group/versions.tf
  modules/lattice-lambda-target-group/README.md
  modules/lattice-lambda-target-group/main.tf
  modules/lattice-lambda-target-group/outputs.tf
  modules/lattice-lambda-target-group/variables.tf
  modules/lattice-lambda-target-group/versions.tf
  modules/lattice-service-listener/README.md
  modules/lattice-service-listener/versions.tf
  modules/lattice-service-network/README.md
  modules/lattice-service-network/versions.tf
  modules/lattice-service/README.md
  modules/lattice-service/versions.tf
  modules/lattice-shared-service-network/README.md
  modules/lattice-shared-service-network/versions.tf
  modules/lattice-shared-service/README.md
  modules/lattice-shared-service/versions.tf
Labels: :floppy_disk: lattice-alb-target-group, :floppy_disk: lattice-instance-target-group, :floppy_disk: lattice-ip-target-group, :floppy_disk: lattice-lambda-target-group, :floppy_disk: lattice-service-listener, :floppy_disk: lattice-service-network, :floppy_disk: lattice-service, :floppy_disk: lattice-shared-service-network, :floppy_disk: lattice-shared-service

Refactor vpc-gateway-endpoint
  README.md
  examples/vpc-gateway-endpoint-simple/main.tf
  examples/vpc-gateway-endpoint-simple/outputs.tf
  examples/vpc-gateway-endpoint-simple/versions.tf
  modules/vpc-gateway-endpoint/README.md
  modules/vpc-gateway-endpoint/main.tf
  modules/vpc-gateway-endpoint/outputs.tf
  modules/vpc-gateway-endpoint/variables.tf
Labels: :floppy_disk: vpc-gateway-endpoint

Refactor vpc-gateway-endpoint (#19)
  README.md
  examples/vpc-gateway-endpoint-simple/main.tf
  examples/vpc-gateway-endpoint-simple/outputs.tf
  examples/vpc-gateway-endpoint-simple/versions.tf
  modules/vpc-gateway-endpoint/README.md
  modules/vpc-gateway-endpoint/main.tf
  modules/vpc-gateway-endpoint/outputs.tf
  modules/vpc-gateway-endpoint/variables.tf
Labels: :floppy_disk: vpc-gateway-endpoint

Refactor vpc-interface-endpoint
  README.md
  modules/vpc-gateway-endpoint/outputs.tf
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/main.tf
  modules/vpc-interface-endpoint/outputs.tf
  modules/vpc-interface-endpoint/security-group.tf
  modules/vpc-interface-endpoint/variables.tf
  modules/vpc-interface-endpoint/versions.tf
Labels: :floppy_disk: vpc-gateway-endpoint, :floppy_disk: vpc-interface-endpoint

Add examples for vpc-interface-endpoint
  examples/vpc-gateway-endpoint-simple/main.tf
  examples/vpc-interface-endpoint-full/main.tf
  examples/vpc-interface-endpoint-full/outputs.tf
  examples/vpc-interface-endpoint-full/sns.tf
  examples/vpc-interface-endpoint-full/versions.tf
  examples/vpc-interface-endpoint-simple/main.tf
  examples/vpc-interface-endpoint-simple/outputs.tf
  examples/vpc-interface-endpoint-simple/versions.tf
Labels: none

Refactor vpc-interface-endpoint (#20)
  README.md
  examples/vpc-gateway-endpoint-simple/main.tf
  examples/vpc-interface-endpoint-full/main.tf
  examples/vpc-interface-endpoint-full/outputs.tf
  examples/vpc-interface-endpoint-full/sns.tf
  examples/vpc-interface-endpoint-full/versions.tf
  examples/vpc-interface-endpoint-simple/main.tf
  examples/vpc-interface-endpoint-simple/outputs.tf
  examples/vpc-interface-endpoint-simple/versions.tf
  modules/vpc-gateway-endpoint/outputs.tf
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/main.tf
  modules/vpc-interface-endpoint/outputs.tf
  modules/vpc-interface-endpoint/security-group.tf
  modules/vpc-interface-endpoint/variables.tf
Labels: :floppy_disk: vpc-gateway-endpoint, :floppy_disk: vpc-interface-endpoint

Bump to v0.3.0
  VERSION
Labels: none

Update security-group module in vpc-interface-endpoint
  examples/vpc-interface-endpoint-full/main.tf
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/security-group.tf
  modules/vpc-interface-endpoint/variables.tf
Labels: :floppy_disk: vpc-interface-endpoint

Bump to v0.3.1
  VERSION
Labels: none

Update vpc peering modules
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/variables.tf
  modules/vpc-peering-accepter/versions.tf
  modules/vpc-peering-requester/README.md
  modules/vpc-peering-requester/variables.tf
  modules/vpc-peering-requester/versions.tf
  modules/vpc-peering/README.md
  modules/vpc-peering/variables.tf
  modules/vpc-peering/versions.tf
Labels: :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Refactor vpc-peering-requester and vpc-peering-accepter
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/main.tf
  modules/vpc-peering-accepter/outputs.tf
  modules/vpc-peering-accepter/variables.tf
  modules/vpc-peering-requester/README.md
  modules/vpc-peering-requester/main.tf
  modules/vpc-peering-requester/outputs.tf
  modules/vpc-peering-requester/variables.tf
Labels: :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Add example for vpc-peering-requester and vpc-peering-accepter
  README.md
  examples/vpc-peering-requester-and-accepter-cross-region/main.tf
  examples/vpc-peering-requester-and-accepter-cross-region/outputs.tf
  examples/vpc-peering-requester-and-accepter-cross-region/versions.tf
Labels: none

Refactor vpc-peering-requester and vpc-peering-accepter (#21)
  README.md
  examples/vpc-peering-requester-and-accepter-cross-region/main.tf
  examples/vpc-peering-requester-and-accepter-cross-region/outputs.tf
  examples/vpc-peering-requester-and-accepter-cross-region/versions.tf
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/main.tf
  modules/vpc-peering-accepter/outputs.tf
  modules/vpc-peering-accepter/variables.tf
  modules/vpc-peering-requester/README.md
  modules/vpc-peering-requester/main.tf
  modules/vpc-peering-requester/outputs.tf
  modules/vpc-peering-requester/variables.tf
Labels: :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Refine vpc-peering module
  README.md
  examples/vpc-peering-cross-region/main.tf
  examples/vpc-peering-cross-region/outputs.tf
  examples/vpc-peering-cross-region/versions.tf
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/outputs.tf
  modules/vpc-peering-requester/README.md
  modules/vpc-peering-requester/outputs.tf
  modules/vpc-peering/README.md
  modules/vpc-peering/main.tf
  modules/vpc-peering/outputs.tf
  modules/vpc-peering/variables.tf
  modules/vpc-peering/versions.tf
Labels: :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Refine vpc-peering module (#22)
  README.md
  examples/vpc-peering-cross-region/main.tf
  examples/vpc-peering-cross-region/outputs.tf
  examples/vpc-peering-cross-region/versions.tf
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/outputs.tf
  modules/vpc-peering-requester/README.md
  modules/vpc-peering-requester/outputs.tf
  modules/vpc-peering/README.md
  modules/vpc-peering/main.tf
  modules/vpc-peering/outputs.tf
  modules/vpc-peering/variables.tf
  modules/vpc-peering/versions.tf
Labels: :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Support more filter options in vpc-peering-accepter
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-accepter/main.tf
  modules/vpc-peering-accepter/variables.tf
Labels: :floppy_disk: vpc-peering-accepter

Add vpc-peering-simple example
  README.md
  examples/vpc-peering-simple/main.tf
  examples/vpc-peering-simple/outputs.tf
  examples/vpc-peering-simple/versions.tf
Labels: none

Bump to v0.4.0
  VERSION
Labels: none

Fix aws provider bug in vpc-peering
  modules/vpc-peering/README.md
  modules/vpc-peering/main.tf
  modules/vpc-peering/resource-group.tf
Labels: :floppy_disk: vpc-peering

Bump to v0.4.1
  VERSION
Labels: none

Fix resource group conflict when vpc peering for same account and region
  VERSION
  modules/vpc-peering/resource-group.tf
  modules/vpc-peering/versions.tf
Labels: :floppy_disk: vpc-peering

Refine vpc-endpoint-service module
  modules/vpc-endpoint-service/README.md
  modules/vpc-endpoint-service/main.tf
  modules/vpc-endpoint-service/outputs.tf
  modules/vpc-endpoint-service/variables.tf
  modules/vpc-endpoint-service/versions.tf
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/variables.tf
Labels: :floppy_disk: vpc-endpoint-service, :floppy_disk: vpc-interface-endpoint

Support dns_options for vpc-interface-endpoint
  examples/vpc-interface-endpoint-full/main.tf
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/main.tf
  modules/vpc-interface-endpoint/outputs.tf
  modules/vpc-interface-endpoint/variables.tf
Labels: :floppy_disk: vpc-interface-endpoint

Bump to v0.5.0
  VERSION
Labels: none

Support s3-express for gateway-endpoint
  VERSION
  modules/vpc-gateway-endpoint/README.md
  modules/vpc-gateway-endpoint/variables.tf
Labels: :floppy_disk: vpc-gateway-endpoint
