Repository tedilabs/terraform-aws-vpc-connectivity, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: dx-connection, :floppy_disk: dx-gateway, :floppy_disk: dx-private-virtual-interface, :floppy_disk: lattice-alb-target-group, :floppy_disk: lattice-instance-target-group, :floppy_disk: lattice-ip-target-group, :floppy_disk: lattice-lambda-target-group, :floppy_disk: lattice-service-listener, :floppy_disk: lattice-service-network, :floppy_disk: lattice-service, :floppy_disk: lattice-shared-service-network, :floppy_disk: lattice-shared-service, :floppy_disk: reachability-analyzer-path, :floppy_disk: vpc-endpoint-service, :floppy_disk: vpc-gateway-endpoint, :floppy_disk: vpc-interface-endpoint, :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/dx-connection/README.md
  modules/dx-gateway/README.md
  modules/dx-private-virtual-interface/README.md
  modules/lattice-alb-target-group/README.md
  modules/lattice-instance-target-group/README.md
  modules/lattice-ip-target-group/README.md
  modules/lattice-lambda-target-group/README.md
  modules/lattice-service-listener/README.md
  modules/lattice-service-network/README.md
  modules/lattice-service/README.md
  modules/lattice-shared-service-network/README.md
  modules/lattice-shared-service/README.md
  modules/reachability-analyzer-path/README.md
  modules/vpc-endpoint-service/README.md
  modules/vpc-gateway-endpoint/README.md
  modules/vpc-interface-endpoint/README.md
  modules/vpc-peering-accepter/README.md
  modules/vpc-peering-requester/README.md
  modules/vpc-peering/README.md
Labels: :floppy_disk: dx-connection, :floppy_disk: dx-gateway, :floppy_disk: dx-private-virtual-interface, :floppy_disk: lattice-alb-target-group, :floppy_disk: lattice-instance-target-group, :floppy_disk: lattice-ip-target-group, :floppy_disk: lattice-lambda-target-group, :floppy_disk: lattice-service-listener, :floppy_disk: lattice-service-network, :floppy_disk: lattice-service, :floppy_disk: lattice-shared-service-network, :floppy_disk: lattice-shared-service, :floppy_disk: reachability-analyzer-path, :floppy_disk: vpc-endpoint-service, :floppy_disk: vpc-gateway-endpoint, :floppy_disk: vpc-interface-endpoint, :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#57)
  README.md
Labels: none

feat(vpc-peering): replace deprecated data.aws_region's `name` to `region`
  modules/vpc-peering-accepter/main.tf
  modules/vpc-peering-accepter/variables.tf
  modules/vpc-peering-requester/main.tf
  modules/vpc-peering/main.tf
Labels: :floppy_disk: vpc-peering, :floppy_disk: vpc-peering-accepter, :floppy_disk: vpc-peering-requester

fix(vpc-peering): remove `resource_group` output
  modules/vpc-peering/outputs.tf
  modules/vpc-peering/variables.tf
Labels: :floppy_disk: vpc-peering

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(vpc-endpoint-service): support aws v6
  modules/vpc-endpoint-service/README.md
  modules/vpc-endpoint-service/main.tf
  modules/vpc-endpoint-service/outputs.tf
  modules/vpc-endpoint-service/resource-group.tf
  modules/vpc-endpoint-service/variables.tf
  modules/vpc-endpoint-service/versions.tf
Labels: :floppy_disk: vpc-endpoint-service

feat(vpc-gateway-endpoint): support aws v6
  modules/vpc-gateway-endpoint/README.md
  modules/vpc-gateway-endpoint/main.tf
  modules/vpc-gateway-endpoint/outputs.tf
  modules/vpc-gateway-endpoint/resource-group.tf
  modules/vpc-gateway-endpoint/variables.tf
  modules/vpc-gateway-endpoint/versions.tf
Labels: :floppy_disk: vpc-gateway-endpoint

feat(vpc-interface-endpoint): support aws v6
  modules/vpc-interface-endpoint/README.md
  modules/vpc-interface-endpoint/main.tf
  modules/vpc-interface-endpoint/outputs.tf
  modules/vpc-interface-endpoint/resource-group.tf
  modules/vpc-interface-endpoint/security-group.tf
  modules/vpc-interface-endpoint/variables.tf
  modules/vpc-interface-endpoint/versions.tf
Labels: :floppy_disk: vpc-interface-endpoint

chore: bump to v0.6.0
  VERSION
Labels: none

.github/labeler.yaml:

# Modules
":floppy_disk: dx-connection":
- changed-files:
  - any-glob-to-any-file:
    - modules/dx-connection/**/*

":floppy_disk: dx-gateway":
- changed-files:
  - any-glob-to-any-file:
    - modules/dx-gateway/**/*

":floppy_disk: dx-private-virtual-interface":
- changed-files:
  - any-glob-to-any-file:
    - modules/dx-private-virtual-interface/**/*

":floppy_disk: lattice-alb-target-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-alb-target-group/**/*

":floppy_disk: lattice-instance-target-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-instance-target-group/**/*

":floppy_disk: lattice-ip-target-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-ip-target-group/**/*

":floppy_disk: lattice-lambda-target-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-lambda-target-group/**/*

":floppy_disk: lattice-service-listener":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-service-listener/**/*

":floppy_disk: lattice-service-network":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-service-network/**/*

":floppy_disk: lattice-service":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-service/**/*

":floppy_disk: lattice-shared-service-network":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-shared-service-network/**/*

":floppy_disk: lattice-shared-service":
- changed-files:
  - any-glob-to-any-file:
    - modules/lattice-shared-service/**/*

":floppy_disk: reachability-analyzer-path":
- changed-files:
  - any-glob-to-any-file:
    - modules/reachability-analyzer-path/**/*

":floppy_disk: vpc-endpoint-service":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc-endpoint-service/**/*

":floppy_disk: vpc-gateway-endpoint":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc-gateway-endpoint/**/*

":floppy_disk: vpc-interface-endpoint":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc-interface-endpoint/**/*

":floppy_disk: vpc-peering":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc-peering/**/*

":floppy_disk: vpc-peering-accepter":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc-peering-accepter/**/*

":floppy_disk: vpc-peering-requester":
- changed-files:
  - any-glob-to-any-file:
    - modules/vpc-peering-requester/**/*
